.jumbotron {
    background-color: skyblue;
    color: black;
    margin-top: 50px;
}

.btn {
    background-color: royalblue;
}

footer {
    background-color: skyblue;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-family {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-compra {
    width: 100%;
}

.footer-address-iconic {
    padding-right: 10px;
}