-i https://pypi.org/simple
aiofiles==0.7.0; python_version >= '3.6' and python_version < '4.0'
aiohttp-swagger==1.0.15
aiohttp==3.7.4.post0; python_version >= '3.6'
amqp==5.0.6; python_version >= '3.6'
arrow==1.1.1; python_version >= '3.6'
asgiref==3.4.1; python_version >= '3.6'
async-lru==1.0.2
async-timeout==3.0.1; python_full_version >= '3.5.3'
attrs==21.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
backports.ssl==0.0.9
beautifulsoup4==4.9.3
billiard==3.6.4.0
celery==5.1.2
cffi==1.14.6
charset-normalizer==2.0.4; python_version >= '3'
cookiecutter==1.7.3
cryptography==3.4.8; python_version >= '3.6'
cycler==0.10.0
dill==0.3.4; python_version >= '2.7' and python_version != '3.0'
distro==1.6.0
django-bootstrap-daterangepicker==1.0.6
django-bootstrap4==3.0.1
django-crispy-forms==1.12.0
django-filter==2.4.0
django-phonenumber-field[phonenumbers]==5.2.0
django-simple-history==3.0.0
django-solo==1.1.5
django-tables2==2.4.0
django==4
et-xmlfile==1.1.0; python_version >= '3.6'
gunicorn==20.1.0
jinja2-time==0.2.0
jinja2==2.11.3
jsonpickle==2.0.0; python_version >= '2.7'
junit-xml==1.9
kiwisolver==1.3.2; python_version >= '3.7'
kombu==5.1.0; python_version >= '3.6'
lxml==4.6.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
matplotlib==3.4.3
multidict==5.1.0; python_version >= '3.6'
numpy==1.21.2; python_version < '3.11' and python_version >= '3.7'
openpyxl==3.0.7
packaging==21.0; python_version >= '3.6'
pandas==1.3.2
phonenumbers==8.12.31
pillow==8.3.2; python_version >= '3.6'
poyo==0.5.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
prettytable==2.2.0; python_version >= '3.6'
psycopg2-binary==2.9.1
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyftpdlib==1.5.6
pyopenssl==20.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-docx==0.8.11
python-engineio==3.14.2
python-slugify==5.0.2; python_version >= '3.6'
python-socketio==4.6.1
pytz==2021.1
pyyaml==5.4.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
redis==3.5.3
requests==2.26.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
resolvelib==0.5.4
robotframework==4.1
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.2.1; python_version >= '3.0'
sqlparse==0.4.1; python_version >= '3.5'
tablib==3.0.0
text-unidecode==1.3
tftpy==0.8.0
typing-extensions==3.10.0.2
unicon.plugins==21.5
unicon==21.5; python_version >= '3.5'
urllib3==1.26.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
vine==5.0.0; python_version >= '3.6'
wand==0.6.7
wcwidth==0.2.5
wheel==0.37.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
xlrd==1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
xlsxwriter==3.0.1; python_version >= '3.4'
xlwt==1.3.0
xmltodict==0.12.0
yamllint==1.26.3; python_version >= '3.5'
yarl==1.6.3; python_version >= '3.6'
